<h1 class="display-4">Ajouter un employé</h1>

<div class="card">
  <div class="card-body">
    <form [formGroup]="employeeForm" class="organization-form">
      <div class="mb-3">
        <label for="typeahead-basic">Nom de famille:</label>
        <input [formControlName]="'lastname'" class="form-control" id="typeahead-basic" type="text"/>
      </div>
      <div class="mb-3">
        <label for="typeahead-basic1">Prénom :</label>
        <input [formControlName]="'firstname'" class="form-control" id="typeahead-basic1" type="text"/>
      </div>
      <div class="mb-3">
        <label for="typeahead-basic1">Liste des organisations :</label>
        <select [formControlName]="'selectedOrganizationStr'" aria-label="Default select example" class="form-select">
          <option *ngFor="let org of organizations; let i = index" [ngValue]="org">
            {{org.name}}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label for="typeahead-basic2">Date d'embauche :</label>
        <my-datepicker (dateChanged)="getDateOnSelect($event)" id="typeahead-basic2"></my-datepicker>
      </div>
      <div class="mb-3">
        <label for="typeahead-basic3">Salaire :</label>
        <input [formControlName]="'salary'" class="form-control" id="typeahead-basic3" type="text"/>
      </div>
      <button (click)="onSubmit($event)" class="btn btn-lg btn-outline-primary d-flex p-2" type="submit">Valider
      </button>
    </form>
  </div>
</div>
