<h1 class="display-4">Ajouter une organisation</h1>

<div class="card">
  <div class="card-body">
    <form [formGroup]="organizationFrom" class="organization-form">
      <div class="mb-3">
        <label for="typeahead-basic">Nom Organisation:</label>
        <input [formControlName]="'name'" class="form-control" id="typeahead-basic" type="text"/>
      </div>
      <div class="mb-3">
        <label for="typeahead-basic2">Description :</label>
        <input [formControlName]="'description'" class="form-control" id="typeahead-basic2" type="text"/>
      </div>
      <div class="mb-3">
        <label for="typeahead-basic1">Date de creation:</label>
        <hr>
        <my-datepicker (dateChanged)="getDateOnSelect($event)" id="typeahead-basic1"></my-datepicker>
      </div>
      <button (click)="onSubmit($event)" class="btn btn-lg btn-outline-primary d-flex p-2" type="submit">Valider
      </button>
    </form>
  </div>
</div>

